<div class="wrapper">
  <app-navbar></app-navbar>
  <app-sidebar [pageTitle]="pageTitle"></app-sidebar>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 title-page">{{pageTitle}}</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <section class="content">
      <div class="container-fluid">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</div>

