/* You can add global styles to this file, and also import other style files */
@import 'node_modules/bootstrap/dist/css/bootstrap.css';
@import "assets/css/adminlte.min.css";
@import "assets/css/buttons.bootstrap4.min.css";
@import "assets/css/dataTables.bootstrap4.min.css";
@import "assets/css/responsive.bootstrap4.min.css";
@import 'node_modules/@fortawesome/fontawesome-free/css/all.min.css';
@import 'variables.css';

.background-page {
  background-color: var(--color-terciary) !important;
}

html, body {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}

.title-page {
  font-size: 32px;
  font-weight: bold;
}


.content-wrapper{
  background-color: var(--color-terciary) !important;
  position: relative;
}

.container-center-form{
  height: 85vh;
}


form {
  background-color: var(--background-forms);
  padding: 20px;
  -webkit-box-shadow: 0 0 5px 1px rgba(108,108,108,0.75);
  -moz-box-shadow: 0 0 5px 1px rgba(108,108,108,0.75);
  box-shadow: 0 0 5px 1px rgba(108,108,108,0.75);
}


.button-primary {
  background-color: var(--color-primary) !important;
  color: #ffffff;
}

.button-primary:hover {
  background-color: var(--hover-color-primary) !important;
  color: #ffffff;
}


.swal2-actions {
  margin-right: 20px;
}
