:root {
  --color-primary: #466731;
  --color-secondary: #B9C5A3;
  --color-terciary: #E1E4D9;
  --header-card: #bbd69d;
  --background-cards: #ededed;
  --background-forms: #D8DDCB;
  --hover-color-primary: #578136;
}
